@keyframes scroll {
  from {translate: 0}
  to {translate: -100%}
}

.tape {
  background-color: #fcd307;
  border: brown 1px solid;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.tapeContent {
  //animation: scroll 5s infinite linear;
  align-items: center;
  gap: 1em;
  display: flex;
  justify-content: center;
  padding-right: 1em;
}

.tapeText {
  //flex: 0 0 3em;
  max-height: 2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  //width: 1000rem;
}

.workInProgressMessage {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.workInProgressPanel {
  height: 10rem;
  //display: flex;
  align-items: center;
  justify-content: center;
}